// Color
$color-1 : #fff;
$color-2 : #000;
$color-3 : #1FB282;
$color-4 : #FFD768;

// Weight
$weight-1: 100;
$weight-2: 200;
$weight-3: 400;
$weight-4: 500;
$weight-5: 600;
$weight-6: 700;

// Dekstop Font
$font-h1 :32px;

// Mobile Font
$font-1: 24px;
$font-2: 18px;
$font-3: 16px;
$font-4: 14px;